<?xml version='1.0' encoding='utf-8'?>
<plugin id="cz.Velda.cordova.plugin.devicefeedback" version="0.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
	
	<name>DeviceFeedback</name>
	<description>Plugin provide a way for haptic and acoustic feedback to the user.</description>
	<author>Jan Velecký</author>
	<license>MIT</license>
	
	<js-module name="DeviceFeedback" src="DeviceFeedback.js">
		<clobbers target="window.plugins.deviceFeedback" />
	</js-module>
	
	<platform name="android">
		<config-file parent="/*" target="res/xml/config.xml">
			<feature name="DeviceFeedback">
				<param name="android-package" value="cz.Velda.cordova.plugin.devicefeedback.DeviceFeedback" />
				<param name="onload" value="true" />
			</feature>
		</config-file>
		
		<config-file parent="/*" target="AndroidManifest.xml">
		</config-file>
		
		<source-file src="src/android/DeviceFeedback.java" target-dir="src/cz/Velda/cordova/plugin/devicefeedback" />
	</platform>
</plugin>